.navbar {
    display: flex;
    position: fixed;
    top: 0px;
    flex-flow: row;
    height: 70px;
    width: 100%;
    margin: 0;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    #menu {
        height: 50%;

        img {
            height: 100%;
        }
    }

    .brand-logo {
        height: 70px;
    }
}
a {
    text-decoration: none;
    color: black;
}


#menu-drawer {
    position: fixed;
    top: 70px;
    left: 0px;
    width: 60%;
    height: 100vh;
    background-color: white;

    div {
        display: flex;
        flex-flow: column;
        justify-content: center;

        .menu-items {
            width: auto;
            height: 50px;
            font-size: 1.5em;
            padding-left: 20px;
            transition: .25s;

            

            &:hover {
                background-color: #616161;
                color: white;
            }
        }

        .brand-logo {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }
}

.brand-logo {
    height: 100%;

    img {
        height: 100%;
        width: auto;
    }
}

.desktop-menu {
    display: none;
    align-items: center;

    div {
        padding-right: 20px;
    }
}

.hide-mobile {
    display: none;
    transition: display .5s;
}