@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
$font-family: 'Montserrat', sans-serif;
$body-padding-y: 5px;
$body-padding-x:40px;


* {
    font-family: $font-family;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

section {
    padding: $body-padding-x $body-padding-y;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.hero {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 100px;
    
    
    div {
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-items: center;
        
        
        h1 {
            
            font-size: 5em;
            font-weight: 900;
            line-height: 80%;
        }
        
        p {
            margin-block-start: 15px;
            margin-block-end: 15px;
            font-size: 3em;
            line-height: 80%
        }
    }
}

@import 'nav';
@import 'services';
@import 'about';
@import 'footer';
@import 'contact';
@import 'responsive';
