<!DOCTYPE html>
<html>
<head>
	<!--meta-data-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
  <meta name="author" content="Priyabrata Biswas">
	<title>Product</title>
	<!--stylesheets-->
	<link rel="shortcut icon" href="../public/img/favicon.png">
	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../public/css/materialize.min.css" media="screen,projection">
	<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
	<link rel="stylesheet" href="../public/css/header.css">
	<link rel="stylesheet" href="../public/css/footer.css">
	<link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
	<!--Main Header & Navigation-->
	<header>
		<div class="navbar-fixed">
			<nav class="white">
				<div class="nav-wrapper">
					<a href="#" data-target="slide-out" class="sidenav-trigger">
						<i class="material-icons black-text">menu</i>
					</a>
					<a href="index.html" class="brand-logo tooltipped"
						data-position="bottom" data-tooltip="school management"
						style="background: none">
						<img src="../public/img/logo.png" alt="Logo" width="70" height="70">
					</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="index.html#home">Home</a></li>
						<li><a href="index.html#services">Services</a></li>
						<li><a href="index.html#about">About</a></li>
						<li><a href="index.html#contact">Contact</a></li>
						<li><a href="colleges.html">Colleges</a></li>
						<li><a href="colleges.html">Office</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<ul id="slide-out" class="sidenav">
			<li>
				<div class="user-view">
					<img class="circle" src="../public/img/logo.png" alt="Product">
					<span class="name">Product</span>
					<a href="mailto:iiysoftware@gmail.com" target="_blank">
						<span class="white-text email">iiysoftware@gmail.com</span>
					</a>
				</div>
			</li>
			<li><a href="index.html#home">Home</a></li>
			<li><a href="index.html#services">Services</a></li>
			<li><a href="index.html#about">About</a></li>
			<li><a href="index.html#contact">Contact</a></li>
			<li><a href="colleges.html">Colleges</a></li>
			<li><a href="colleges.html">Office</a></li>
		</ul>
	</header>
	<section id="home">
		<div class="banner">
			<h3 class="typed"></h3>
		</div>
	</section>
	<section id="services">
		<div class="container">
			<h2 class="center" data-aos="zoom-in-up">Our Services</h2>
			<div class="row">
				<div class="col s12 m6 l4">
					<div class="card small hoverable" data-aos="flip-up">
						<div class="card-image">
							<img src="../public/img/college.jpg">
							<span class="card-title">College Admissions</span>
						</div>
						<div class="card-content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card small hoverable" data-aos="flip-up">
						<div class="card-image">
							<img src="../public/img/school.jpg">
							<span class="card-title">School Admissions</span>
						</div>
						<div class="card-content">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card small hoverable" data-aos="flip-up">
						<div class="card-image">
							<img src="../public/img/ielts.jpg">
							<span class="card-title">IELTS Coaching</span>
						</div>
						<div class="card-content">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="about">
		<article>
			<div class="container">
				<h2 class="center" data-aos="zoom-in-up">About Us</h2>
				<main>
					<div class="row">
						<div class="col s12 m8 l8">
							<p class="about-txt">
								Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Natus non unde iusto nobis neque deserunt distinctio mollitia eum.
								Temporibus ex tenetur voluptatem fuga maxime doloribus velit
								asperiores reiciendis labore recusandae.
								Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Natus non unde iusto nobis neque deserunt distinctio mollitia eum.
								Temporibus ex tenetur voluptatem fuga maxime doloribus velit
								asperiores reiciendis labore recusandae.
								Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Natus non unde iusto nobis neque deserunt distinctio mollitia eum.
								Temporibus ex tenetur voluptatem fuga maxime doloribus velit
								asperiores reiciendis labore recusandae.
								Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Natus non unde iusto nobis neque deserunt distinctio mollitia eum.
								Temporibus ex tenetur voluptatem fuga maxime doloribus velit
								asperiores reiciendis labore recusandae.
							</p>
						</div>
						<div class="col s12 m4 l4">
							<img src="../public/img/about.jpg" alt="About Us" class="responsive-img about-img">
						</div>
						<div class="col s12 m12 l12">
							<p class="about-txt">
								Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Natus non unde iusto nobis neque deserunt distinctio mollitia eum.
								Temporibus ex tenetur voluptatem fuga maxime doloribus velit
								asperiores reiciendis labore recusandae.
								Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Natus non unde iusto nobis neque deserunt distinctio mollitia eum.
								Temporibus ex tenetur voluptatem fuga maxime doloribus velit
								asperiores reiciendis labore recusandae.
								Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Natus non unde iusto nobis neque deserunt distinctio mollitia eum.
								Temporibus ex tenetur voluptatem fuga maxime doloribus velit
								asperiores reiciendis labore recusandae.
								Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Natus non unde iusto nobis neque deserunt distinctio mollitia eum.
								Temporibus ex tenetur voluptatem fuga maxime doloribus velit
								asperiores reiciendis labore recusandae.
							</p>
						</div>
					</div>
				</main>
			</div>
		</article>
	</section>
	<section id="contact">
		<div class="container">
			<h2 class="center" data-aos="zoom-in-up">Contact Info</h2>
			<div class="row">
				<div class="col s12 m6 l4">
					<div class="card  cyan darken-4 hoverable" data-aos="zoom-in">
						<div class="card-content white-text">
							<span class="card-title">Card Title</span>
							<p>
								IIY Software,<br>
								SCF - 517, 2nd Floor, Sector - 70,<br>
								Mohali - 160071<br>
								Mob.: 9464220710<br>
								<a href="mailto:iiysoftware@gmail.com" target="_blank">
									iiysoftware@gmail.com
								</a>
								<a href="https://www.allaboutplacements.com" target="_blank">
									www.allaboutplacements.com
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card  cyan darken-4 hoverable" data-aos="zoom-in">
						<div class="card-content white-text">
							<span class="card-title">Card Title</span>
							<p>
								IIY Software,<br>
								1/19 Dinnison Street,<br>
								Gosford West - 2250<br>
								New South Wales, Australia<br>
								<a href="mailto:iiysoftware@gmail.com" target="_blank">
									iiysoftware@gmail.com
								</a>
								<a href="https://www.allaboutplacements.com" target="_blank">
									www.allaboutplacements.com
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card  cyan darken-4 hoverable" data-aos="zoom-in">
						<div class="card-content white-text">
							<span class="card-title">Card Title</span>
							<p>
								IIY Software,<br>
								KV - 103, Opp Symphony Hotel,<br>
								Pune - 411020<br>
								Maharashtra, India<br>
								<a href="mailto:iiysoftware@gmail.com" target="_blank">
									iiysoftware@gmail.com
								</a>
								<a href="https://www.allaboutplacements.com" target="_blank">
									www.allaboutplacements.com
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col s12 m4 l4">
					<p>
						IIY Software,<br>
						SCF-517, 2 nd Floor, Sector - 70,<br>
						Mohali-160071.<br>
						Mob.: 9464220710<br>
						<a href="mailto:iiysoftware@gmail.com" target="_blank">
							iiysoftware@gmail.com
						</a>
						<a href="https://www.allaboutplacements.com" target="_blank">
							www.allaboutplacements.com
						</a>
					</p>
				</div>
				<div class="col s12 m4 l4">
					<label for="newsletter">Subscribe to our newsletter!</label>
					<input type="text" placeholder="Enter Your Email" id="newsletter">
				</div>
				<div class="col s12 m4 l4 center">
					<p class="social-media">Social Media Links</p>
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-linkedin"></a>
					<a href="#" class="fa fa-instagram"></a>
				</div>
			</div>
		</div>
	</footer>
	<!--scripts-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
	<script src="../public/js/materialize.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="../public/js/main.js"></script>
</body>
</html>
